:root {
  --bs-green: #198754;
  --bs-warning: #ffcb7b;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.8rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 3.2rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 4rem;
  }
}
h2 {
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

/* Reescribir colores */
.text-success,
.nombre-sitio {
  color: var(--bs-green) !important;
}

.btn-warning {
  background-color: var(--bs-warning);
}

.bg-success {
  background-color: var(--bs-green) !important;
}
.hero {
  background-image: url(../img/principal4.jpg);
  height: 25rem;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 768px) {
  .hero {
    height: 60rem;
  }
}

/* productos */

@media (min-width: 768px) {
  .producto img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
  }
}

.categoria img {
  transition-property: transform;
  transition-duration: 300ms;
}

.categoria img:hover {
  transform: scale(1.2);
}
